@model IEnumerable<PhotoCard>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IHttpContextAccessor HttpContextAccessor
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer



@{
    ViewData["Title"] = @Localizer["heading.photos"];
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");
}

<div class="d-flex justify-content-between align-items-center">
    <h1>@Localizer["heading.photos"]</h1>
    <form asp-action="Index" method="get" class="d-flex">
        <input class="form-control" type="text" name="q" style="width: 400px" placeholder="@SharedLocalizer["label.searchPhoto"]" />
        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
    </form>
    @if (username != null) {
        <a asp-controller="Photo" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp;@Localizer["btn.createPhoto"]
        </a>
    }
</div>

<div class="container mt-5">
    <div class="mb-3">
        <span style="font-weight: 600">@Model.Count()</span>
        <span> @Localizer["label.photoNum"]</span>
        @if (Context.Request.Query["q"].ToString() != "") {
            <span> | @Localizer["label.photoResult"]: </span>
            <span style="font-weight: 600">"@Context.Request.Query["q"]"</span>
        } else {
            <span> | @Localizer["label.all"]</span>
        }
    </div>
    <div class="row gy-2">
        @foreach (var photo in Model) {
            <div class="col-3">
                <a asp-action="Edit" asp-route-id="@photo.Id" class="text-decoration-none text-black">
                    <img src="@photo.ImageUrl" class="rounded-3" style="width: 100%; height: 350px; object-fit: cover">
                    <div class="d-flex justify-content-between align-items-center py-2">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" style="width: 32px; height: 32px" src="@photo.UserAvatar" />
                            <p class="px-2 my-0 text-primary" style="font-weight: 600">@photo.UserDisplayName</p>
                        </div>
                        <p class="my-0 mb-0" style="font-size: 14px"><i class="bi bi-clock"></i> @photo.CreatedAt.ToString("dd-MM-yyyy")</p>
                    </div>
                    <p style="font-size: 18px; font-weight: 600">@photo.Title</p>
                </a>
            </div>
        }
    </div>
</div>

