@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization;
@using Microsoft.Extensions.Options
@inject IStringLocalizer<SharedResource> SharedLocalizer

@inject IHttpContextAccessor HttpContextAccessor
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");
    var avatar = HttpContextAccessor.HttpContext.Session.GetString("Avatar");
    var displayName = HttpContextAccessor.HttpContext.Session.GetString("DisplayName");

    string returnUrl = ViewContext.HttpContext.Request.Path;
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhotoStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhotoStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid px-5">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PhotoStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["nav.home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Photo" asp-action="Index">@SharedLocalizer["nav.photo"]</a>
                        </li>
                        <li>
                            <form asp-action="SetLanguage" asp-controller="Home" method="post">

                                <input type="hidden" id="returnUrl" name="returnUrl" value="@returnUrl" />

                                <select id="culture"
                                        name="culture"
                                        class="form-control"
                                        onchange="this.form.submit();"
                                        asp-items="cultureItems"
                                        asp-for="@requestCulture.RequestCulture.UICulture.Name">
                                </select>
                            </form>
                        </li>
                        
                        @if(username != null) {
                            <li>
                                <a class="btn mx-3 btn-outline-primary" asp-controller="Home" asp-action="Logout">@SharedLocalizer["btn.logout"]</a>
                            </li>
                        }
                    </ul>
                    <div class="d-flex align-items-center">
                        
                        @if (username != null) {
                            <a asp-route="Me" class="d-flex align-items-center text-decoration-none text-black" style="cursor: pointer">
                                <div class="px-2">
                                    <p class="mb-0" style="font-weight: 600; line-height: 16px; text-align: end;">@displayName</p>
                                    <p class="mb-0" style="font-size: 14px; text-align: end;">@username</p>
                                </div>
                                <img src="@avatar" style="width: 40px; height: 40px; border-radius: 99999px" />
                            </a>
                            
                        } else {
                            <a class="btn btn-link" asp-controller="User" asp-action="Register">@SharedLocalizer["btn.register"]</a>
                            <a class="btn btn-primary" asp-controller="User" asp-action="Login">@SharedLocalizer["btn.login"]</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PhotoStore
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
